.todos-container {
  height: 70vh;
  width: 500px;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 20px;
  overflow: auto;
}

.todo-item {
  background-color: #ebebeb;
  border-radius: 14px;
  padding: 15px 25px;
  margin: 15px 0px;
}
