.todos-container {
  height: 70vh;
  width: 400px;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 20px;
}

.todo-heading {
  text-align: center;
  font-weight: 700;
}

.todos-list {
  height: 420px;
  overflow: auto;
  padding: 0;
}

.todo-item {
  background-color: #f6f6f6;
  border-radius: 14px;
  padding: 15px 25px;
  margin: 15px 0px;
  list-style-type: none;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-item:hover {
  background-color: #ebebeb;
  transform: scale(1.01);
}

.todo-icon-container {
  width: 15%;
}

@media screen and (max-width: 768px) {
  .todos-container {
    height: 70vh;
    width: 80%;
    border-radius: 24px;
    background-color: #ffffff;
    padding: 10px;
  }

  .todos-list {
    height: 80%;
  }
}
